<div id="github">
    <h3>GitHub</h3>
    <p>
      For this lesson you will need a GitHub account and GitHub Desktop installed on your machine.
    </p>
    <p><strong>To sign up for a GitHub account:</strong></p>
    <ol>
    <li>Go to <a href='https://github.com/signup' target='_blank'>https://github.com/signup</a> 
       and enter your email address (preferably your @si.edu or @cfa.harvard.edu address), 
       choose a secure password, and then choose a username.</li>
    <li>Complete the "puzzle" to prove you are not a robot, click Create Account, and then
       confirm your email address with the code provided.
    </li>
    </ol>
  
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-os="siwindows" href="#github-siwindows" aria-controls="SIWindows" role="tab" data-toggle="tab">SI-Issued Windows</a></li>
        <li role="presentation"><a data-os="simacos" href="#github-simacos" aria-controls="SIMacOS" role="tab" data-toggle="tab">SI-Issued Mac</a></li>
        <li role="presentation"><a data-os="windows" href="#github-windows" aria-controls="Windows" role="tab" data-toggle="tab">Non-SI Windows</a></li>
        <li role="presentation"><a data-os="macos" href="#github-macos" aria-controls="MacOS" role="tab" data-toggle="tab">Non-SI MacOS</a></li>
      </ul>
  
      <div class="tab-content">
        <article role="tabpanel" class="tab-pane active" id="github-siwindows">
          <ol>
            <li>Open Software Center, click on GitHub Desktop, and then click Install.</li>
            <li>Check the Desktop for a GitHub Desktop icon. If it is not there, you may need 
              to restart your computer.
            </li>
            <li>Open GitHub Desktop, click on File > Options, and then click the Sign In button
               on the Accounts tab. This will direct you to a browser, where you will sign in to the 
               account you created previously.
            </li>
          </ol>
        </article>
        <article role="tabpanel" class="tab-pane" id="github-simacos">
          <ol>
            <li>Open the Self Service app, click on the Scientific category, and then click Install
               under the GitHub Desktop icon.</li>
            <li>Check the Desktop for a GitHub Desktop icon. If it is not there, you may need 
              to restart your computer.
            </li>
            <li>Open GitHub Desktop, in the top menu click on GitHub Desktop > Preferences, and then click the Sign In button
               on the Accounts tab. This will direct you to a browser, where you will sign in to the 
               account you created previously.
            </li>
          </ol>
        </article>
        <article role="tabpanel" class="tab-pane" id="github-windows">
          <ol>
            <li>Go to <a href='https://desktop.github.com/' target='_blank'>https://desktop.github.com/</a>
             and click on the big Download for Windows button.</li>
            <li>Follow the prompts to install the software.</li>
            <li>Open GitHub Desktop, click on File > Options, and then click the Sign In button
              on the Accounts tab. This will direct you to a browser, where you will sign in to the 
              account you created previously.</li>
          </ol>
        </article>
        <article role="tabpanel" class="tab-pane" id="github-macos">
          <ol>
            <li>Go to <a href='https://desktop.github.com/' target='_blank'>https://desktop.github.com/</a>
              and click on the big Download for macOS button.</li>
            <li>Follow the prompts to install the software.</li>
            <li>Open GitHub Desktop, in the top menu click on GitHub Desktop > Preferences, and then click the Sign In button
               on the Accounts tab. This will direct you to a browser, where you will sign in to the 
               account you created previously.
            </li>
          </ol>
        </article>
      </div>
    </div>
  </div>