<div id="openrefine">
  <h3>OpenRefine</h3>
  <p>
    For this lesson you will need <em>OpenRefine</em> and a
    web browser. <em>Note:</em> this is a Java program that runs on your machine (not in the cloud).
    It runs inside a web browser, but no web connection is needed.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="siwindows" href="#openrefine-siwindows" aria-controls="SIWindows" role="tab" data-toggle="tab">SI-Issued Windows</a></li>
      <li role="presentation"><a data-os="simacos" href="#openrefine-simacos" aria-controls="SIMacOS" role="tab" data-toggle="tab">SI-Issued Mac</a></li>
      <li role="presentation"><a data-os="windows" href="#openrefine-windows" aria-controls="Windows" role="tab" data-toggle="tab">Non-SI Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#openrefine-macos" aria-controls="MacOS" role="tab" data-toggle="tab">Non-SI MacOS</a></li>
      <li role="presentation"><a data-os="browser" href="#openrefine-browser" aria-controls="MacOS" role="tab" data-toggle="tab">Web Browser</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="openrefine-siwindows">
        <ol>
          <li>Open Software Center, click on OpenRefine, and then click Install.</li>
          <li>Check the Desktop for an OpenRefine icon. If it is not there, you may need 
            to restart your computer.
          </li>
          <li>If you get a Windows Defender warning about running the software, select 
            'More Info', then select 'Run Anyway'.
          </li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="openrefine-simacos">
        <li>Open the Self Service app, click on the Utilities category, and then click Install
          under the OpenRefine icon.</li>
       <li>Check the Desktop for an OpenRefine icon. If it is not there, you may need 
         to restart your computer.
       </li>
      </article>
      <article role="tabpanel" class="tab-pane" id="openrefine-windows">
        <ol>
          <li>
            Check that you have either the Firefox or the Chrome browser installed and set as your default browser.
            <strong>OpenRefine runs in your default browser.</strong>
            It will not run correctly in Internet Explorer.
          </li>
          <li>Download software from <a href="http://openrefine.org/">http://openrefine.org/</a></li>
          <li>Create a new directory called OpenRefine.</li>
          <li>Unzip the downloaded file into the OpenRefine directory by right-clicking and selecting "Extract ...". </li>
          <li>Go to your newly created OpenRefine directory.</li>
          <li>Launch OpenRefine by clicking <code>openrefine.exe</code> (this will launch a command prompt window, but you can ignore that - just wait for OpenRefine to open in the browser).</li>
          <li>If you are using a different browser, or if OpenRefine does not automatically open for you, point your browser at <a href="http://127.0.0.1:3333/">http://127.0.0.1:3333/</a> or <a href="http://localhost:3333">http://localhost:3333</a> to use the program.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="openrefine-macos">
        <ol>
          <li>Check that you have either the Firefox or the Chrome browser installed and set as your default browser. <strong>OpenRefine runs in your default browser.</strong> It may not run correctly in Safari.</li>
          <li>Download software from <a href="http://openrefine.org/">http://openrefine.org/</a>.</li>
          <li>Create a new directory called OpenRefine.</li>
          <li>Unzip the downloaded file into the OpenRefine directory by double-clicking it.</li>
          <li>Go to your newly created OpenRefine directory.</li>
          <li>Launch OpenRefine by dragging the icon into the Applications folder.</li>
          <li>Use <kbd>Ctrl</kbd>-click/Open ... to launch it.</li>
          <li>If you are using a different browser, or if OpenRefine does not automatically open for you, point your browser at <a href="http://127.0.0.1:3333/">http://127.0.0.1:3333/</a> or <a href="http://localhost:3333">http://localhost:3333</a> to use the program.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="openrefine-linux">
        <ol>
          <li>Check that you have either the Firefox or the Chrome browser installed and set as your default browser. <strong>OpenRefine runs in your default browser.</strong></li>
          <li>Download software from <a href="http://openrefine.org/">http://openrefine.org/</a>.</li>
          <li>Make a directory called OpenRefine.</li>
          <li>Unzip the downloaded file into the OpenRefine directory.</li>
          <li>Go to your newly created OpenRefine directory.</li>
          <li>Launch OpenRefine by entering <code>./refine</code> into the terminal within the OpenRefine directory.</li>
          <li>If you are using a different browser, or if OpenRefine does not automatically open for you, point your browser at <a href="http://127.0.0.1:3333/">http://127.0.0.1:3333/</a> or <a href="http://localhost:3333">http://localhost:3333</a> to use the program.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="openrefine-browser">
        <p>
          If you ran into any difficulty installing OpenRefine on your machine, we have a browser-based 
          back-up solution that will run at this link: 
          <a href="https://mybinder.org/v2/gh/SmithsonianWorkshops/binders/open_refine352?urlpath=openrefine" rel="nofollow" target="_blank">
            <img src="https://camo.githubusercontent.com/581c077bdbc6ca6899c86d0acc6145ae85e9d80e6f805a1071793dbe48917982/68747470733a2f2f6d7962696e6465722e6f72672f62616467655f6c6f676f2e737667" alt="Binder" data-canonical-src="https://mybinder.org/badge_logo.svg" style="max-width: 100%;">
          </a>
        </p>
      </article>
    </div>
  </div>
</div>
